streamlit
transformers
tensorflow
torch
pytorch
whisper
langchain
langchain_community
langchain-huggingface
langchainhub
bitsandbytes
soundfile
audio-recorder-streamlit
peft
pyngrok
pydantic
datasets
pandas
gtts

